<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @listing.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<% if @listing.user.id == current_user.id %>
  <%= link_to 'Edit', edit_user_listing_path(@listing.user, @listing) %> |
<% end %>

<% if logged_in? %>
  <%= link_to 'Back to my listings', user_listings_path(current_user) %>
<% else %>
  <%= link_to 'Back to listings', listings_path  %>
<% end %>
