<%= form_for @reservation, url: create_reservation_path([current_user, @reservation])  do |f| %>
  <div class="datepicker" data-behaviour="datepicker" id="datepicker" data-date-format="dd/mm/yyyy">
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>
  </div>

  <div class="datepicker" data-behaviour="datepicker" id="datepicker" data-date-format="dd/mm/yyyy">
    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
  </div>
  
  <%= f.hidden_field :listing_id, { value: params[:id]} %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
          locale: {
              format: 'DD/MM/YYYY'
          }
    });
  });
</script>
